.whole_form{
    display: grid;
    grid-template-columns: repeat(2,50%);
    /* grid-template-rows: ; */
    margin: 15% 20% 5% 20%;
    /* border: 1px solid black; */
    height: 300px;
   gap: 5%
}

.submit_btn{
    background-color: #f43397;
   height: 35px;
   
}
.box {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #f43397;
  }
  .box:focus {
    border-color: black;
  }

